/*
* tt-schiri
* Copyright 2016-2016 Tobias Kantusch, Ekkart Kleinod
*
* for more information see README
*/

#sidebar-menu a,
/*#sidenav .list-group-item,
#sidenav .list-group-header,*/
.sidebar .sidebar-toggle,
.navbar .navbar-brand,
.navbar .navbar-collapse .dropdown .dropdown-menu li a,
.navbar .navbar-collapse li a{

		color: #FFFFFF;

}

#sidebar-menu,
/*#sidenav a.list-group-item,*/
.navbar,
.sidebar .sidebar-toggle,
.navbar .open .dropdown-menu,
.navbar .dropdown .dropdown-toggle,
.sidebar .sidebar-content .sidebar-toggle,
.navbar .navbar-collapse .open.dropdown{

		background-color: #e10a17;
		border-color: #e10a17;

}


.navbar .navbar-collapse li a:hover,
.navbar .navbar-collapse li a:focus,
.navbar .navbar-collapse .active a,
.navbar .navbar-collapse .active a:hover,
.navbar .navbar-collapse .active a:focus,
.navbar .navbar-collapse .dropdown .dropdown-toggle:hover,
.navbar .navbar-collapse .open.dropdown .dropdown-toggle,
.navbar .navbar-collapse .dropdown .dropdown-toggle:focus,
.navbar .navbar-collapse .dropdown .dropdown-menu li a:hover,
.navbar .navbar-collapse .dropdown .dropdown-menu li a:focus{

		background-color: firebrick;

}

/*#sidenav #list-heading,
#sidenav .list-group-item:hover,*/
.navbar .navbar-header .navbar-toggle,
.navbar .navbar-header .navbar-toggle:hover,
.navbar .navbar-header .navbar-toggle:focus{

		background-color: firebrick;
		border-color: firebrick;

}

/* Kommt noch
.navbar .navbar-header img{

		background: white;
		border-bottom-color: white;
		text-align: center;

}*/

.icon-bar{

		background-color: #FFFFFF;

}

.row a{

		color: #e10a17;

}

hr, .page-header, iframe.osm {

		border-color: #e10a17;

}

.fa-circle{

		color: #e10a17;

}

footer p{

		text-align: center;
		color: #e10a17;

}

footer {

		height: 20px;
		margin-bottom: auto;

}

.sidebar {

		/*position*/
		position: fixed;
		top:25%;
		bottom: 25%;
		right: 0px;
		width: 165px;

		z-index: 1;

}

#sidebar-menu{

		transition: width 2s;
		width:0px;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		float: right;
		text-align: center;
		text-align: center;

}

#sidebar-menu.show{
		width: 165px;
}

.sidebar .sidebar-toggle{

		position:absolute;
		right: 22px;
		border: none;
		transform: rotate(-90deg);
		transform-origin:top right;
		white-space: nowrap;

		transition: right 2s ease;

}

.sidebar .sidebar-toggle.move{

		right: 187px;

}

/*Kommt vielleicht noch
#sidenav a.list-group-item{

		width:100%;

}

#sidenav #list-heading{

		width:100%;
		text-decoration: underline;
		font-size: 18px;

}*/


@media(min-width: 991px) {
		.navbar .dropdown:hover .dropdown-menu {

		display:block;
		margin-top: 0px;
				background-color: #e10a17;

		}

		.navbar .dropdown:hover .dropdown-toggle{

		background-color: firebrick;

		}

		.navbar .dropdown-menu a:hover,
		.navbar .dropdown-menu a,
		.navbar .dropdown-menu a:focus{

				color: #FFFFFF;

		}

}

/* Navbar Collapse */
@media (max-width: 991px) {

		.navbar-header {
				float: none;
		}
		.navbar-toggle {
				display: block;
		}
		.navbar-inverse .navbar-collapse {
				border-top: 1px solid transparent;
				border-color: firebrick;
				box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		}
		.navbar-collapse.collapse {
				display: none!important;
		}
		.navbar-nav {
				float: none!important;
				margin: 7.5px -15px;
		}
		.navbar-nav>li {
				float: none;
		}
		.navbar-nav>li>a {
				padding-top: 10px;
				padding-bottom: 10px;
		}
		.navbar-text {
				float: none;
				margin: 15px 0;
		}
		/* since 3.1.0 */
		.navbar-collapse.collapse.in {
				display: block!important;
		}
		.collapsing {
				overflow: hidden!important;
		}

		.navbar-nav .open .dropdown-menu {
				position: static;
				float: none;
				width: auto;
				margin-top: 0;
				border: 0;
				box-shadow: none;
		}

}

iframe.osm {

	border-width: 1px;
	border-style: solid;
	width: 50%;
	height: 50ex;
	overflow: hidden; /* remove scrollbars, not reliable in browsers yet, thus scrolling="no" remains in html */

}

/* EOF */
