{% capture output %}

{% comment %}
	{% for file in site.static_files %}
	{{ file }}
	{% endfor %}
{% endcomment %}



{% for section in site.data.downloads %}
{% if section.tags contains include.tag %}

### {{ section.title }}

{:.table .table-bordered .table-striped}
| Name | Beschreibung | Stand |
|:-|:-|:-|{% for file in section.downloads %}| {% assign filename = file.filename | prepend: "/" | prepend: section.path %}{% include download.html file=filename title=file.title %} | {{ file.description }} | {{ file.lastchange | date: '%-d. %B %Y' }}{% endfor %}

{% endif %}
{% endfor %}

{% endcapture %}
{{ output | strip }}