{% if page.url == '/downloads.html' %}
	<div class="sidebar" id="sidebar">

		<button class="sidebar-toggle" data-toggle="sidebar" data-target="#sidebar-menu" id="sidebar-toggle">Übersicht<b class="caret"></b></button>

		<div id="sidebar-menu">

			<a href="#downloads">Downloads</a>
			<br>
			<a href="#einsatzplne">Einsatzpläne</a>
			<br>
			<a href="#einsatzinformationen">Einsatzinformationen</a>
			<br>
			<a href="#osr-berichte">OSR-Berichte</a>
			<br>
			<a href="#materiallisten">Materiallisten</a>
			<br>
			<a href="#regeln">Ordnungen</a>
			<br>
			<a href="#sonstiges">Sonstiges</a>
			<br>
			<a href="#belaglisten">Belaglisten</a>
			<br>

		</div>

	</div>
{% endif %}
