{% include events_future.html events=site.data.tournaments %}

{% if include.nav %}
<ul class="nav nav-pills nav-stacked" style="padding-bottom: 3ex;">
{% for event in events %}
<li role="presentation"><a class="list-group-item" href="#{{ event.title | slugify }}">
	<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
	{{ event.date-start | date: '%d.%m.' }}-{{ event.date-end | date: '%d.%m.%Y' }}:
	{{ event.title }}
	– {% if event.referee %}{{ event.referee }}{% else %}n.n.{% endif %}
</a></li>
{% endfor %}
</ul>
{% endif %}

{% for event in events %}

<div class="panel panel-default">
	<div class="panel-heading" id="{{ event.title | slugify }}">
		<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
		{{ event.date-start | date: '%d.%m.' }}-{{ event.date-end | date: '%d.%m.%Y' }}:
		{{ event.title }}
	</div>
	<div class="panel-body">
{% capture panelbody %}

{% if event.description %}<span class="help-block">{{ event.description }}</span>{% endif %}

<dl>

	<dt>Ort</dt>
	<dd>{% if event.venue %}{% capture temp %}[{{ site.data.venues[event.venue][0].title }}]({{ site.data.venues[event.venue][0].title | datapage_url: 'venues' }}){% endcapture %}{{ temp | markdownify | remove: '<p>' | remove: '</p>' }}{% else %}unbekannt{% endif %}</dd>

	<dt>OSR</dt>
	<dd>{% if event.referee %}{{ event.referee }}{% else %}n.n.{% endif %}</dd>

	{% if event.assreferees %}
		<dt>stellv. OSR</dt>
		<dd>{{ event.assreferees | join: ', ' }}</dd>
	{% endif %}

	{% if event.umpires %}
		<dt>SRaT</dt>
		<dd>{{ event.umpires | join: ', ' }}</dd>
	{% endif %}

</dl>

{% endcapture %}
{{ panelbody | markdownify }}
	</div>

{% if event.urls %}
<div class="panel-footer">
{% for url in event.urls %}
 <a href="{{ url.url }}" class="btn btn-default btn-sm">{{ url.title }}</a>
{% endfor %}
</div>
{% endif %}
</div>

{% else %}

Derzeit keine Termine.

{% endfor %}
