---
layout: default
---

<div class="row">
	<div class="col-lg-9">
		{{ content | inject_anchors }}
	</div>

	<div class="col-md-3">

		<h4>Auf dieser Seite</h4>

		{{ content | toc_only }}

		<div class="list-group">
			<a href="#ausbildung" class="list-group-item">Ausbildung</a>
			<a href="#karriere" class="list-group-item">Karriere</a>
			<a href="#einstze" class="list-group-item">Einsätze</a>
			<a href="#formalien" class="list-group-item">Formalien</a>
		</div>

		<h4>Suche</h4>

		<p>...</p>

	</div>

</div>
