# tt-schiri
# Copyright 2016-2016 Ekkart Kleinod <ekleinod@edgesoft.de>
#
# for more information see README

# generation into destination dir instead of _site
destination: "../htdocs"

# url is the full website URL
# baseurl is the website's URL without the hostname
url: "http://www.tt-schiri.de"
baseurl: ""
dir_downloads: "/downloads"
dir_img: "/img"

# website
title: "Die Schiedsrichterinnen und Schiedsrichter des BeTTV"
subtitle: "Informationen und Neuigkeiten"
description: "Internetseiten der Schiedsrichterinnen und Schiedsrichter des BeTTV"

# custom defaults
author: ek
locale: "de"

# --- Misc --- #

# Build settings
markdown: kramdown

# defaults for all pages
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "page"
      breadcrumb: false

# Output options (more information on Jekyll's site)
highlighter: rouge

# include these files
#include:
#  - ".htaccess"

# Exclude these files from production site
exclude:
  - "LICENSE-THEME"

collections:
  pages:
    output: true
    permalink: /:path.html
    title: Seiten

# use the following gems
gems:
  - jekyll-sitemap
  - jekyll-toc

# generate files from data
page_gen:
  - data: 'venues_pages'
    template: 'venue_page'
    name: 'title'
    dir: 'termine/venues'
