/*
* tt-schiri
* Copyright 2016-2017 Tobias Kantusch and Ekkart Kleinod <ekleinod@edgesoft.de>
*
* for more information see README
*/

/* adapt the color definitions here */

// color palettes
$color-primary-0: #e10a17;
$color-primary-1: white;
$color-primary-2: white;
$color-primary-3: firebrick;
$color-primary-4: black;

/* EOF */
