/*
* tt-schiri
* Copyright 2016-2017 Tobias Kantusch and Ekkart Kleinod <ekleinod@edgesoft.de>
*
* for more information see README
*/

/* adapt the color definitions here */

// color palettes (http://paletton.com/)
$color-primary-0: #277552;	// Main Primary color */
$color-primary-1: #97EEC6;
$color-primary-2: #52AA82;
$color-primary-3: #0C4129;
$color-primary-4: #000C07;

/* EOF */
